.list-product {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

.listproduct-formate-main,
.listproduct-format-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 10px 0;
}

.listproduct-product-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.listproduct-remove-icon {
  width: 25px;
  height: 25px;
}
